@layer base {
    .custom-bg-table {
        background-color: #191c24;
    }
    .text-table-muted{
        color: #6c7293;
    }
    :root {
        color-scheme: dark;

    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.fi-ta-ctn {
    @apply dark:custom-bg-table rounded-sm !important;
}


.fc .fc-timegrid-slot-minor {
    @apply border-indigo-200/25 border-solid
}

.fc .fc-view-harness {
    @apply bg-[#212529];
}

.fc-timegrid-slot-label{
    @apply bg-primary-800 antialiased font-medium
}

.fc-col-header{
    @apply bg-primary-800 capitalize
}

.fc-v-event{
    @apply subpixel-antialiased hover:brightness-105 hover:scale-105 ease-in-out duration-100 transition-all
}

.fi-ta-header-cell-label{
    @apply text-[#6ea8fe] dark:text-[#6ea8fe] !important;
}

@media (min-width: 1278px) {
    .fi-pagination:not(.fi-simple) > .fi-pagination-next-btn {
        display: none !important;
    }
}

@media (min-width: 1278px) {
    .fi-pagination:not(.fi-simple) > .fi-pagination-previous-btn {
        display: none !important;
    }
}

.btn-group > .btn-check:checked + .btn {
    z-index: 0 !important;
}

.fi-ta-actions{
    @apply justify-center !important;
}
